*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
  line-height: 1.5;
  // font-size: 87.5%;
  padding: rem(20px);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: rem(32px);
  margin: 0 0 rem(16px);
}

h2 {
  font-size: rem(24px);
  margin: 0 0 rem(12px);
}

h3 {
  font-size: rem(22px);
  margin: 0 0 rem(12px);
}

h4 {
  font-size: rem(20px);
  margin: 0 0 rem(10px);
}

h5 {
  font-size: rem(18px);
  margin: 0 0 rem(10px);
}

h6 {
  font-size: rem(16px);
  margin: 0 0 rem(8px);
}

p {
  margin: 0 0 rem(16px);
}

blockquote {
  position: relative;
  margin: 0 0 rem(16px);
  padding: 0 0 0 rem(30px);

  &:before {
    content: "";
    position: absolute;
    left: rem(10px);
    top: 0;
    bottom: 0;
    width: rem(5px);
    background-color: #C8E6C9;
    border-radius: rem(2.5px);
  }
}

dl, ul, ol {
  margin: 0 0 rem(16px);
}

ul, ol {
  padding-left: rem(32px);
}

dt {
  font-weight: bold;
}

hr {
  border: 0;
  border-top: rem(1px) solid rgba(#000, 0.12);
  margin: 0 0 rem(16px);
}

dd {
  margin: 0;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0 rem(1px) rem(4px) rem(-1px) rgba(#000, 0.5);
  margin: 0 0 rem(16px);
  width: 100%;
  table-layout: fixed;
}

caption {
  background-color: transparent;
}

th {
  font-size: rem(14px);
  text-align: left;
}

td {
  border: solid rgba(#000, 0.12);
  border-width: rem(1px) 0;
}

caption, th, td {
  padding: rem(10px) rem(14px);
}

thead,
tfoot {
  tr {
    background-color: #EEE;
  }
}

tbody {
  tr {
    background-color: #fff;
    transition: all 100ms ease-out;
    transition-property: background-color, color;

    &:hover {
      background-color: #E0F7FA;
    }
  }
}

kbd {
  background-color: #9E9E9E;
  border-bottom: rem(2px) solid #757575;
  border-radius: rem(3px);
  color: #fff;
  padding: 0 rem(5px);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: #F5F5F5;
  border: rem(1px) solid #E0E0E0;
  border-radius: rem(3px);
  color: #1B5E20;
  padding: 0 rem(4px);
  word-wrap: break-word;
}

mark {
  background-color: #FBC02D;
  border-radius: rem(3px);
  padding: rem(1px) rem(4px);
}

var {
  color: #1B5E20;
  font-style: normal;
  font-weight: bold;
}

figure {
  background-color: #212121;
  border-radius: rem(3px);
  box-shadow: 0 rem(1px) rem(4px) rem(-1px) rgba(#000, 0.5);
  margin: 0 0 rem(16px);
  overflow: hidden;

  img {
    display: block;
    min-width: 100%;
  }
}

figcaption {
  background-color: #fff;
  padding: rem(12px);
}

video {
  background-color: #000;
}

iframe {
  border: rem(1px) solid rgba(#000, 0.12);
}

fieldset {
  background-color: #fff;
  border: 0;
  border-radius: rem(3px);
  box-shadow: 0 rem(1px) rem(4px) rem(-1px) rgba(#000, 0.5);
  padding: rem(16px);
  margin: 0 0 rem(16px);
}

legend {
  background-color: #C8E6C9;
  border-radius: rem(3px);
  font-weight: bold;
  font-size: rem(14px);
  padding: rem(3px) rem(10px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
