.btn,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  border: 0;
  border-radius: rem(3px);
  cursor: pointer;
  display: inline-block;
  font-family: $sans-font;
  font-size: inherit;
  font-weight: bold;
  height: rem(36px);
  line-height: rem(36px);
  padding: 0 rem(16px);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @include transition(background-color, box-shadow, color, transform);
  @include smooth-font();

  &:focus {
    outline: 0;
  }

  &:focus:not(:active) {
    @include shadow-inner-border(rem(2px), $indigo-a100);
  }

  &:active {
    transform: translateY(rem(1px));
  }
}

// all but submit buttons
.btn,
button:not([type=submit]),
input[type=button],
input[type=reset] {
  background-color: $blue-grey-50;
  color: $blue-grey-900;

  &:active {
    background-color: $blue-grey-100;
  }
}

// submit buttons
.btn-primary,
button[type=submit],
input[type=submit] {
  background: $deep-purple;
  color: $white;
}

// disabled state
.btn.disabled,
.btn-primary.disabled,
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled {
  background-color: $blue-grey-50;
  color: $blue-grey-200;
  cursor: not-allowed;
}
