input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
input:not([type]),
textarea,
select {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: #fff;
  border: rem(1px) solid rgba(#000, 0.12);
  border-radius: rem(3px);
  box-shadow: none;
  box-sizing: inherit; // Forced to replace inherit values of the normalize.css
  font-family: inherit;
  font-size: inherit;
  height: rem(36px);
  padding: rem(8px); // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;
  transition: all 100ms ease-out;
  transition-property: background-color, border-color, box-shadow, color, transform;

  &:focus {
    border-color: #8C9EFF;
    box-shadow: 0 0 0 rem(1px) #8C9EFF;
    outline: 0;
  }

  &:disabled {
    background-color: #F5F5F5;
    color: rgba(#000, 0.26);
    cursor: not-allowed;
  }
}

select:not([multiple]) {
  background-image: url('data:image/svg+xml;utf8,<svg width="8px" height="18px" viewBox="0 0 8 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon stroke="none" fill="#000" fill-rule="evenodd" points="0 7 4 0 8 7"></polygon><polygon stroke="none" fill="#000" fill-rule="evenodd" points="0 11 4 18 8 11"></polygon></svg>');
  background-repeat: no-repeat;
  background-position: right rem(8px) center;
}

select[multiple],
textarea {
  height: auto;
}

input[type=color] {
  background-color: #fff;
  border: rem(1px) solid rgba(#000, 0.12);
  border-radius: rem(3px);

  &:focus {
    border-color: #8C9EFF;
    box-shadow: 0 0 0 rem(1px) #8C9EFF;
    outline: 0;
  }
}
