fieldset {
  @include card();

  border: 0;
  padding: rem($default-spacing);
  margin: 0 0 rem($default-spacing);
}

legend {
  @include card();

  font-weight: bold;
  font-size: rem(14px);
  padding: rem(3px) rem(10px);
}
