img {
  max-width: 100%;
}

figure {
  @include card();

  margin: 0 0 rem($default-spacing);
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}

figcaption {
  padding: rem(12px);
}
