a {
  color: $light-blue-800;
  outline: rem(2px) solid transparent;
  outline-offset: rem(1px);
  text-decoration: underline;

  @include no-tap-highlight();
  @include transition(outline, color);

  &:focus:not(:active) {
    outline-color: $indigo-a100;
  }

  &:visited {
    color: $blue-grey-700;
  }
}
