$sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$mono-font: Consolas, Menlo, "Liberation Mono", Courier, monospace;

$default-spacing: 16px;

$white: #FFF;
$black: #000;
$grey-50: #FAFAFA;
$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-700: #455A64;
$blue-grey-900: #263238;
$light-blue-800: #0277BD;
$deep-purple: #673AB7;
$indigo-a100: #8C9EFF;
$yellow-700: #FBC02D;
